body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f149a2;    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    background-color: rgba(254, 250, 250, 0.8); /* Slightly transparent background for readability */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
}

button:hover {
    background-color: #0056b3;
}

#response {
    margin-top: 20px;
    font-size: 18px;
    color: #000000;
}
